@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  --hue--neutral: 200;
  --hue--wrong: 0;
  --hue--correct: 145;
}

body {
  --hue: var(--hue--neutral);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue--correct);
}

body.wrong {
  --hue: var(--hue--wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  padding: 20px;
  background-color: white;
}

.btn {
  --hue: var(--hue--neutral);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  border: 2px solid hsl(var(--hue), 100%, 30%);
  outline: none;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue--correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue--wrong);
}

.start-btn,
.next-btn {
  font-size: 3rem;
  padding: 10px 20px;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
